<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/cardapio/lanches">Lanches</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/cardapio/vegetarianos">Vegetarianos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/cardapio/porcoes">Porções</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/cardapio/bebidas">Bebidas</a>
  </li>
</ul>

<div class="row">
  <div class="col-sm-3" *ngFor="let item of items">

    <div class="card">
      <img [src]="'assets/images/' + item.imagem" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ item.titulo }}</h5>
        <p class="card-text">{{ item.descricao }}</p>
        <span>{{item.preco | currency: 'BRL' }}</span>
        <br>
        <a (click)="adicionar(item)" class="card-link" style="cursor: pointer">
          <i class="fa fa-plus-circle"></i> Adicionar
        </a>
      </div>
    </div>

  </div>
</div>
